/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Modak&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* COLOR SWATCH */
:root {
  --color-red-1: #c43c1e; /* rosered */
  --color-red-2: #8b2c2e;
  --color-white: #fffeeb; /* ivory */
  --color-brown-1: #e3aa75;
  --color-brown-2: #763c00; /* dark brown */
  --color-yellow: #ffcb65; /* mustard yellow */
  --color-orange: #ef8535; /* dark orange */
}

@theme {
  --font-modak: "Modak", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.clearfix {
  clear: both;
}
.full {
  width: 100%;
}

body {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

main {
  flex: 1;
}

/* NAV */

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-red-1);
}

#logo {
  width: 200px;
  margin-top: 10px;
  align-self: center;
}

#header-icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  align-items: center;
}

#header-icons img {
  width: 30px;
  height: 30px;
}

nav ul {
  display: flex;
  align-self: center;
  list-style: none;
}

nav ul li {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 3px;
  margin-bottom: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
nav ul li a {
  color: white;
  text-transform: uppercase;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
}

nav ul li a:hover {
  color: #ffcb65;
}

nav ul li.active a {
  font-weight: bold;
  color: #ffcb65;
}

.clearfix {
  clear: both;
}

nav ul li a:hover,
nav ul li.active a {
  color: var(--color-yellow);
}
