/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Modak&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* COLOR SWATCH */
::root{
--color-red-1:#C43C1E; /* rosered */
--color-red-2:#8B2C2E; 
--color-white:#FFFEEB; /* ivory */
--color-brown-1:#E3AA75;
--color-brown-2:#763C00; /* dark brown */
--color-yellow:#ffCB65; /* mustard yellow */
--color-orange:#EF8535; /* dark orange */
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.clearfix {
  clear: both;
}
.full {
  width: 100%;
}

body { 
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0;
        font-family: "Nunito", sans-serif;
 }

 main {
        flex: 1;
}

/* NAV */

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #C43C1E;
}


#logo {
  width: 200px;
  margin-top: 10px;
  align-self: center;
}

#account {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 55px;
  left: 1284px;
  object-fit: cover;
}

#shopping-bag {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 41px;
  left: 1380px;
  object-fit: cover;
}

nav ul {
	display: flex;
	align-self: center;
	list-style: none;
}

nav ul li{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
nav ul li a{
    color:white;
    text-transform: uppercase;
  	flex-direction: row;
  	align-items: center;
    font-weight: 600;
}

nav ul li a:hover {
  color:#ffCB65; 
}

nav ul li.active a {
  font-weight: bold;
  color:#ffCB65 ; 
}

.clearfix {
	clear: both;
}

/* BANNER */

.banner {
  position: relative;
  width: auto;
  height: 280px;
  background-size: cover;
  background-position: 50% 30%;
}

.banner .overlap-group {
  position: absolute;
  width: 676px;
  height: 200px;
  top: 186px;
  left: 101px;
}

.banner .HOMEBAKED-GUDNESS {
  position: absolute;
  width: 676px;
  height: 219px;
  top: 68px;
  left: 0;
    font-family: "Modak", sans-serif;
    font-weight: 400;
    color: #c43c1e;
    font-size: 85px;
    text-align: center;
    letter-spacing: 7.65px;
    line-height: 65px;
}

.banner .text-wrapper {
  position: absolute;
  width: 676px;
  height: 136px;
  top: 0;
  left: 0;
    font-family: "Modak", sans-serif;
    font-weight: 400;
    color: #763c00;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 65px;
}

.banner .overlap {
  position: absolute;
  width: 182px;
  height: 86px;
  top: 450px;
  left: 348px;
  background-color: #8b2c2e;
  border-radius: 35px;
}

.banner .div {
  position: absolute;
  width: 103px;
  top: 28px;
  left: 39px;
    font-family: "Nunito-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

/* PROMO FEATURE */

.promo{
  background-image: url(../images/feature-background.png);
  background-size: cover;
  background-position: 100%;
  display: flex;
  justify-content: center;
  margin-top: -10px;
  padding-top: 35px;
  padding-bottom: 40px;
}

.promo-contents{
  height: 350px;
  max-width: 1000px;
  display: flex;
  background: #763C00;
  border-radius: 25px;
}

.cookie-pic{
  height: auto;
  width: 350px;
  border-radius: 25px;
}

.promo-right{
  width: 500px;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
}

.brown-desc{
  display: flex;
  color: #FFF;

padding-top: 15px;
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.brown-butter{
  font-family: "Nunito", system-ui;
  color: #FFF;
  font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.regular-size{
  color: #FFF;
font-weight: 700;
line-height: normal;
font-style: italic;
}

.bottom-desc {
  font-family: "Nunito", system-ui;
  color: #FFF;
  font-weight: 600;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.price {
  font-size: 20px;
  font-weight: 700;
}


.cart-button {
  display: flex;
  align-items: center;
  color: #FFF;
  font-weight: 800;
  font-size: 14px;
  background-color:#ffCB65;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
}

.yellow {
    background: #ffCB65;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 400px;
    padding-right: 400px;
    margin-top: 1280px;
    position: relative;
}

/* SHOP FOR MORE */

.shop-content {
    background-image: url(../images/picnic-pattern-texture.png);
    background-size: cover;
     background-position: 90%;
    max-width: 1000;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.more {
    margin-right: 1000px;
    font-size: 35px;
    font-weight: 900;
    color: white; /* Text color */
    text-shadow: 
        2px 2px 0 black, 
        -2px 2px 0 black, 
        2px -2px 0 black, 
        -2px -2px 0 black;
}

.shop-products {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 15px;
    margin-top: 30px;
}

.shop-sample {
    background: #ffCB65;
    padding-bottom: 10px;
    border-radius: 20px;
    text-align: center;
    width: 390px;
  }

.shop-pic {
    height: 180px;
    width: 1000px;
    border-radius: 15px;
    overflow: hidden; 
    position: relative;
}

.shop-pic img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    position: absolute;
  }

.shop-desc {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center; 
  justify-content: space-between;

    font-size: 21px;
    font-weight: bold;
    color: #5a2d0c;
  }

.shop-price {
    font-size: 21px;
    font-weight: 700;
    color: #5a2d0c;
    margin: 0;
}

.shop-button {
    display: inline-block;
    background: #7c3b1d;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 200px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
}

.view {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #FFF;
    color: #c43c1e;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}
/* TESTIMONIALS */

.testimonials {
  background-image: url(../images/cookie-pattern-texture.png);
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.left{
  display: flex;
  align-items: center;
padding-left: 20px;
padding-right: 20px;
}

.arrow{
  width: auto;
  height: 50px;
}

.testimonials-content{
  display: flex;
  justify-content: space-between;
}

.testimonial-cards{
  display: flex;
  align-items: center;
}

.cookie-icon{
  width: auto;
  height: 80px;
}

.cookie-icon-bigger{
  width: auto;
  height: 100px;
}

.reviews{
  padding-left: 20px;
  padding-right: 20px;
}
.reviews-content{
  background: #8B2C2E;
  width: 300px;
  border-radius: 20px;
  color: #FFF;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 330px;
}

.review-header{
  background-color:#ffCB65;
  display: flex;
  justify-content: center;
  border-radius: 20px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.review-name, .review-name-bigger {
  font-weight: bold;
}

.reviews-text {
  padding-top: 15px;
}

.reviews-text-bigger {
  padding-top: 20px;
}


.review-quote, .review-quote-bigger {
  padding-top: 10px;
  padding-left: 15px;
  font-family: "Roboto Mono", serif;
  font-style: italic;
}

 .review-quote-bigger {
  padding-top: 15px;
  padding-left: 15px;
  font-family: "Roboto Mono", serif;
  font-style: italic;
 }

.review-name, .review-name-bigger, .review-icon, .review-icon-bigger {
  display: flex;
  align-items: start;
}

.reviews-content-bigger{
  background: #8B2C2E;
  color: #FFF;
  width: 350px;
  height: 380px;
  border-radius: 20px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.review-header-bigger{
  background-color: orange;
  display: flex;
  justify-content: center;
  border-radius: 20px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* FAQS */
.order{
  background: #ffCB65;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
  padding-top: 20px;
  padding-bottom: 90px;
}

.order-howto {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 50px;
    font-weight: 400;
    color: #C43C1E; 
    font-family: "Modak", sans-serif;
}

.order-content {
    display: flex;
    justify-content: center; 
    padding-left: 0; 
    padding-right: 0;
    color: #763C00;
}

.order-left, .order-right {
  margin-left: 0; 
  margin-right: 0;
  text-align: center;
}

.order-title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
}

.order-desc {
    padding-top: 20px;
    font-size: 1.3em;
    line-height: 1.6;
    text-align: left;
    margin-left: 100px;
    margin-right: 150px;
}


/* Social Icons */

footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #C43C1E; 
  color: white;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 30px;
}

footer .credits {
  font-size: 16px;
  font-weight: 600;
}

footer .social-icons {
  display: flex; 
  gap: 20px; 
}

footer .social-icons img {
  width: 35px; 
  height: 35px;
}



